.headerContainer {
  width: 100%;
  position: fixed;
  background: #fff;
}

.navbarList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  box-shadow: 2px 2px 4px #f3eded;
}

.leftItems,
.rightItems {
  list-style: none;
  display: flex;
  align-items: center;
}

.leftItems li {
  font-size: 1.2rem;
  margin-right: 2rem;
  cursor: pointer;
}

.rightItems li {
  margin-left: 2rem;
}

.logo {
  color: #5ece7b;
  font-size: 1.5rem;
}

.currency {
  padding: 0.2rem;
  border: none;
  background: transparent;
  font-size: 1rem;
  color: #1d1f22;
}

.cartContainer {
  cursor: pointer;
}

.cartIcon {
  font-size: 1.3rem;
}

.cartCounter {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  background: rgb(94, 94, 196);
  font-size: 0.9rem;
  font-weight: bold;
  color: #fff;
  position: absolute;
  right: 4.3rem;
  top: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
